__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
.env
.mypy_cache/
Thumbs.db
.eggs/
.coverage
env/
.venv/
develop-eggs/
.Python
.DS_Store
*.log
*.egg
.pytest_cache/
htmlcov/
dist/
.cache/
Desktop.ini
.tox/
